header{
	
	width: 100%;
	height: 10em;
}
h1{
	display: inline-block;
	position:absolute;
	padding-left:25%;
	margin-top:2%;
	font-family: 'Skranji', cursive;
	font-size: 4.5em;
	color: #da1f32;
}
#hbird{
	display:inline-block;
	position:relative;
	margin-left: 70%;
	padding-top: 5%;
	transition: all 1000ms ease-in-out;
  -webkit-transform: translate(230%, 0%);
  -moz-transition: translate(230%, 0%);
    -o-transition: translate(230%, 0%);
}
#hbird.is-active {
  -webkit-transform: translate(0, 0);
  -moz-transition: translate(0,0);
    -o-transition: translate(0, 0);
}



ul li{
	list-style-type :none
}

ul li.container{
	width:270px;
	height:270px;
	position:relative;
	display: inline-block;
	margin:3em 1.0em;
}
.container img{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	-webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;

	
   
}


.container img.image{
	opacity: 1;
}

.container:hover img.image{
	opacity:0;
}
.container img.change{
	opacity: 0;
}

.container:hover img.change{
	opacity:1;
}

@media screen and (max-width:1275px){
	ul li.container{
		margin:3em 2em;
	}

}
@media screen and (max-width:1062px){
	ul li.container{
		margin:3em 1.4em;
	}

}

@media screen and (max-width:1008px){
	ul li.container{
		margin:3em 2.5em;
	}

}



@media only screen and (max-width : 1024px){
	h1{
		font-size:4em;
		padding-left:16%;
	}
	#hbird{
		margin-left: 65%;
	}

}

@media only screen and (max-width : 800px){
	h1{
		font-size: 3.5em;
	}
	#hbird{
		margin-left: 70%;
		padding-top: 6%;
	}
}

@media only screen and (max-width : 760px){
		ul li.container{
		margin:3em 1.2em;
	}
	}

@media only screen and (max-width : 638px){
	h1{
		width:50%;
		height:100%;
		display:inline-block;
		font-size:3.5em;
	}
	#hbird{
		margin-left: 55%;
		padding-top: 20%;
	}
	ul li.container{
	
	margin-left: 4.5em;
	margin-right:1.5em;
}
	
	}








