html, body {
		padding:0;
		margin:0;
		width:100%;
		height:3800px;
		background-attachment:fixed;
		}

p{
		font-family: sans-serif;
		line-height: 25px;
		color:white;
		font-size: 18px;
		margin-left:60px;

	}


		
#top{
	margin-top: 100px;
}


			
#narratorBackground{
		/*background-image:url(images/narrator_copy.png);*/
		background-color: navy;
		display:inline-block;
		height:383px;
		width:700px;
		float: left;
		margin-left:140px;

	}


#easing_wrapper {
	width:100%;
	height:28%;
}

#easing {
	top:100px;
	height: 600px;
	width:600px;
	z-index:101;
}

#properties {
	width:100%;
	height:100%;
	padding-top:20%;

	

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

